{<!-- Extends the layout from content-page -->
{% extends 'content-page.njk' %}
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}St. Mungos Ward Watcher - Welcome{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}
<!-- Page content goes inside the content block -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2>
            Welcome {{ user.name.given}} {{ user.name.family }}
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">Ward Watcher</span>
        </h2>
        <hr class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">
        <h3>
            Encounters by Site
        </h3>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            {% for total in totals %}
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <p class="nhsuk-heading-l nhsuk-u-font-size-19 nhsuk-u-margin-bottom-1">{{ total.name }}</p>
                            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">{{ total.total }}<span class="nhsuk-u-visually-hidden">{{ total.name }}</span></p>
                            <a href="sites/{{total.id}}/wards" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-14 nhsuk-link--no-visited-state">View Encounters</a>
                        </div>
                    </div>
                </li> 
            {% endfor %}               
        </ul>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-back-link">
                    <a class="nhsuk-back-link__link" id="backLink" style="cursor: pointer" onclick="javascript:window.history.back()">
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                        </svg>
                        Back</a
                    >
                </div>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <p class="nhsuk-u-margin-bottom-0">Visit the <a href="https://github.com/yorkshire-and-humber-care-record/fhir-appliance">FHIR Appliance</a> website for documentation, guidance and examples.</p>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
